.Mb {
    display:inline-block;
    position: relative;
    max-height: 20vmin;
    margin: 3vmin;
    cursor: grab;
    color:#000000;
    border: 4px solid black;
    background-color: antiquewhite;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px #000000;
    overflow: hidden;
    border-radius: 0.9375em;
    opacity: .8;
}

.Mb:hover {
    border: 4px solid firebrick;
    box-shadow: 3px 3px 3px 3px firebrick;
    opacity: 1;
}

.TextContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15vmin;
    height: 100%;
    background-color: #282c34;;
    border-right: 2px solid white;
    padding: 1vmin;
    cursor: pointer;
    overflow: wrap;
}

.Title{
    position: absolute;
    left: 0;
    top: 0;
    color: antiquewhite;
    font-family: 'Bangers', cursive;
    text-decoration: underline;
    padding: 3vmin;
    font-size: 200%;
}

.Desc {
    font-size: 100%;
    color: antiquewhite;
    position: absolute;
    padding: 3vmin;
    left: 0;
    top: 5vmin;
}

.Img {
    position: relative;
    object-fit: fill;
}