.Mb {
    display:inline-block;
    position: relative;
    height: 25vmin;
    width: 50vmin;
    cursor: pointer;
    color:#000000;
    background-color: inherit;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px #000000;
    overflow: hidden;
}