body {
  margin: 0;
  font-family: 'Bangers', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  background-color: #282c34;
  font: inherit;
}

code {
  font-family: 'Bangers', cursive;
}
