  .Button {
	color: black;
	background-color: antiquewhite;
	padding: 5px 15px 5px 15px;
	border: 2px solid #000000;
	cursor: pointer;
	font: inherit;
	font-weight: bold;
	font-size: 90%;
}

.AdminMode{
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	font-family: 'Bangers', cursive;
	font-size: 60%;
	opacity: .8;
	text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.AdminMode:hover{
	background-color: lightgreen;
}

.Add{
	color: black;
	padding: 1.5vmin;
	background-color: lightblue;
	border: none;
	opacity: .7;
}

.Add:hover{
	opacity: 1;
	font-weight: bold;
}

.Edit{
	color: black;
	padding: 1.5vmin;
	background-color: lightgreen;
	border: none;
	opacity: .7;
}

.Edit:hover{
	opacity: 1;
	font-weight: bold;
}

.Delete{
	color: black;
	padding: 1.5vmin;
	background-color: firebrick;
	border: none;
	opacity: .7;
}

.Delete:hover{
	opacity: 1;
	font-weight: bold;
}